<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<title>MakersBNB</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MakersBNB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user">My account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/properties">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create_property">Create listing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/requests">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




    <div class="row align-items-center">
        <div class="col-6 mx-auto" style="margin-top:60px;">
            <div class="card shadow border">
              <div class="card-header"><h1 style="text-align:center">This is <%=@property.name%> page</h1></div>
                <div class="card-body d-flex flex-column align-items-left">
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
                    <div>
                        <dl>
                          <p><b>Location:</b> <%= @property.location %> </p>
                          <p><b>Description:</b> <%= @property.description %></p>
                          <p><b>Price per night:</b> <%= @property.price%></p>
                          <p><b>Availability:</b> <%= @property.availability%></p>
                          <p><b>Email:</b> <%= @property.owner_email %></p>
                          <p><b>Owner:</b> <%= @property.owner_name %></p>
                        <dl>
                        <form>
<button class="btn btn-primary" type="submit" name="property_id" value='<%=@property.id%>' formmethod='POST' formaction='/create_request'>Create Request</button>
</form><br></br>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>