<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<title>Requests</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MakersBNB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user">My account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/properties">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create_property">Create listing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/requests">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container text-center">
<h1>All Requests</h1>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


<h2>Requests from me</h2>
  <%if @requests_from_me != nil%>
    <%@requests_from_me.each do |request|%>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
          <div class="card" style="margin-bottom:20px;">
            <h5 class="card-header"><%=request.property%></h5>
            <div class="card-body">
              <h5 class="card-title"><%=request.location%></h5>
              <p class="card-text">Date of the request: <%=request.date%>, confirmation: 
                <%if request.confirmed == 0%>
                    Denied
                <%elsif request.confirmed == 1%>
                    Confirmed
                <%else%>
                    Awaiting Approval
                <%end%>
                </p>
              <a href="/requests/<%= request.id%>" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    <%end%>
  <%else%>
    <p>There are no requests from you</p>
  <%end%>

<h2>Requests for me</h2>

  <%if @requests_for_me != nil%>
    <%@requests_for_me.each do |request|%>
        <div class="row">
          <div class="col">
          </div>
          <div class="col-6">
            <div class="card" style="margin-bottom:20px;">
              <h5 class="card-header"><%=request.property%></h5>
              <div class="card-body">
                <h5 class="card-title"><%=request.location%></h5>
                <p class="card-text">Date of the request: <%=request.date%>, confirmation: <%=request.confirmed%></p>
                <a href="/requests/<%= request.id%>" class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
      <%end%>
  <%else%>
    <p>There are no requests for you</p>
  <%end%>
</div>
</body>
</html>